/* Smartphones ----------- */
@media only screen and (max-width: 1000px) {
    .keypad {
        display: none;
    }
}

body {
    zoom: 0.8;
    -moz-transform: scale(0.9);
    -moz-transform-origin: 0 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.wide {
    width: 10rem;
    text-align: center;
    display: flex;
}

#purata-badge {
    pointer-events: none;
}

.outline-white {
    border: gray 1px solid;
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}